body {
    background-image: url("../Images/comicBackgroundBlurred.jpg");
    background-size: 300% auto; /*Background for mobile version*/
    background-repeat: repeat-y; /* Repeat vertically */
}

/* This media query targets larger screens using the same measure as the hamburger menu query */
@media only screen and (min-width: 1100px) {
    body {
        background-size: 100% auto; /*Set background for pc version*/
    }
}

#scrollbox {
    box-sizing: border-box;
    width: 70vw;
    max-width: 1300px;
    padding-inline: 5%;
    padding-top: 3%;
    margin-inline: auto;
    background-color: var(--darkerSecondary);
    box-shadow: 0px 0px 25px rgb(25, 25, 25);
    text-align: center;
    display: flex;
    gap: 5%;
    justify-content: center;
}

article {
    width: 70%;
    text-align: left;
}

article h1 {
    width: 100%;
    font-size: clamp(10px, 3em, 6vw);
}

#Image {
    /* border-top: 10px solid var(--primaryColor); */
    width: 100%;
}

/* #Content {
    text-align: left;
    width: 100%;
} */

#sidebar {
    width: 30%;
}

.test-ad {
    width: 100%;
}

#kofi-ad {
    background-color: var(--secondaryColor);
    border-radius: 8px;
    text-align: center;
    margin-block: 1vh;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

#kofi-ad p {
    color: var(--textColor);
    margin-block: 3px;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    text-align: left;
}

#kofi-ad p:first-of-type {
    border-bottom: 1px solid var(--darkerSecondary);
    font-size: 90%;
    color: #AAA;
    font-style: italic;
}