#keepEmInline {
    position: absolute;
    top: var(--navHeight);
    min-height: calc(99.5vh - var(--navHeight));
    display: flex;
}

#folderContainer {
    background-color: var(--darkerSecondary);
    box-shadow: 0px 0px 25px rgb(25, 25, 25);
    width: 20vw;
    resize: horizontal;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.folderLink {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.folderLink:hover {
    color: #DDD;
    cursor: pointer;
}

/*Grid columns should be 6vw apart*/

#collectionContainer {
    padding-inline: 12vw;
    padding-block: 6vw;
}

.hidden { 
    display: none !important;
}

.folder {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    gap: 6vw;
    row-gap: 60px;
    margin-bottom: 60px;
}

.book {
    box-shadow: 0px 0px 5px 5px rgb(16, 16, 19);
    display: flex;
    width: 50vw;
    height: 76vw;
    position: relative;
}

@media screen and (min-width: 600px) {
    #collectionContainer {
        padding-inline: 7vw;
        padding-block: 3vw;
    }

    .folder {
        grid-template-columns: auto auto;
    }

    .book {
        width: 27vw;
        height: 41vw;
    }
}

@media screen and (min-width: 1300px) {
    #collectionContainer {
        padding-inline: 6vw;
        padding-block: 3vw;
    }
    
    .folder {
        grid-template-columns: auto auto auto;
    }

    .book {
        width: 17vw;
        height: 26vw;
    }
}

.bookCircle {
    background-color: var(--primaryColor);
    color: white;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

/* Used to disable clicks on buttons that are opacity: 0 */
.addBookButton {
    display: none;
    top: 50%;
    transform: translateY(-20px);
    font-size: 27px;
}

.addBookButton[style="opacity: 0"] {
    pointer-events: none;
}

.before {
    animation-name: before;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} @keyframes before {
    from {left: 0px;}
    to {left: -35px;}
}

.after { /*Add book before button*/
    animation-name: after;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} @keyframes after {
    from {right: 0px;}
    to {right: -35px;}
}

.positionNum {
    top: -15px;
    left: -15px;
}

.editButton {
    display: none;
    animation-name: edit;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} @keyframes edit {
    from {top: 0px; right: 0px;}
    to {top: -15px; right: -15px;}
}

.copyButton {
    display: none;
    animation-name: copy;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} @keyframes copy {
    from {bottom: 0px; left: 0px;}
    to {bottom: -15px; left: -15px;}
}

.flipped .addBookButton, .flipped .editButton, .flipped .copyButton {
    display: flex !important;
}

.flipButton {
    /* display: flex !important; */
    bottom: -15px;
    right: -15px;
}

/*Toggle the cover and details showing when a book is flipped*/
.book .cover {
    width: 100%;
    height: 100%;
} .book .details {
    display: none;
}

.flipped .cover {
    display: none !important;
} .flipped .details {
    overflow: hidden;

    text-align: center;
    width: 100%;
    padding-inline: 5%;
    height: 100%;
    background-color: var(--darkerSecondary);
    display: block !important;
}

.title {
    text-align: center;
    font-size: clamp(22px, 1.5vw, 44px);
    margin-bottom: 0;
}

.subtitle {
    text-align: center;
    font-size: clamp(15px, 1.1vw, 30px);
    margin-block: 0;
}

.notes {
    width: 90%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
    resize: none;
    color: white;
    margin-block: 5px; /*Temp value change later*/
}

.selectBox { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 0.5vw; /*Temp value change later*/
}

.selectBox select {
    width: 40%;
    font-size: 80%;
}

.divider {
    padding-inline: 3px;
    font-family: sans-serif;
    display: inline-block;
    font-size: 25px;
}

.bookBottomButtons {
    margin-left: auto;
    margin-right: auto;
    margin-block: 5px; /*Temp value change later*/
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.bookBottomButtons button {
    background-color: white;
    width: 25%;
}

/* MODAL WINDOW */  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 65vw;
    max-height: 85vh;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 9999999991;
    text-align: center;
    color: black;
}

@media screen and (max-width: 1100px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: 85vw;
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
        z-index: 9999999991;
        text-align: center;
        color: black;
    }
} 

.modal h1 {
    font-size: clamp(10px, 3.5vw, 60px);
}

.modal label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal label, #modalTitle, #modalSubtitle, #modalNotes, #modalRead, #modalRating {
    font-size: clamp(5px, 2.5vw, 4vh);
}

.modal p, .modal select {
    margin-bottom: 1vh;
}

#modalTitle {
    width: 60%;
}

#modalSubtitle {
    width: 55%;
}

#modalNotes {
    resize: none;
    width: 60%;
}

#modalRead {
    width: 30%;
}

#modalRating {
    width: 27%;
}

.modal button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(5px, 2vw, 30px);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 3vh;
}

.modal button:first-of-type {
    background-color: var(--secondaryColor);
} 

.modal button:nth-of-type(2) {
    background-color: red;
}

.smallText {
    color: #889;
    font-size: 13px;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 9999999;
}


