#folderContainer {
    float: left;
    position: fixed;
    height: calc(100vh - var(--navHeight));
    background-color: var(--darkerSecondary);
    box-shadow: 0px 0px 25px rgb(25, 25, 25);
    width: 20vw;
    resize: horizontal;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.folderLink, #addFolderLink {
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.folderLink:hover, #addFolderLink:hover {
    color: #DDD;
    cursor: pointer;
}

.deleteFolder {
    float: right;
}

/*Grid columns should be 6vw apart*/

#collectionContainer {
    float: left;
    margin-left: 25vw;
    padding-inline: 12vw;
    padding-block: 12vw;
    width: 62vw;
    min-height: 30px;
    position: relative;
}

.folder {
    display: grid;
    align-items: center;
    grid-template-columns: 50vw;
    gap: 6vw;
    row-gap: 60px;
    margin-bottom: 60px;
}

.book {
    box-shadow: 0px 0px 5px 5px rgb(16, 16, 19);
    display: flex;
    width: 50vw;
    height: 76vw;
    position: relative;
}

.appendBook {
    background-color: var(--primaryColor);
    color: white;
    width: 40px;
    margin-inline: calc(50vw/2 - 20px);
    margin-block: calc(76vw/2 - 20px);
    height: 40px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 600px) {
    #collectionContainer {
        padding-inline: 7vw;
        padding-block: 6vw;
    }

    .folder {
        grid-template-columns: 27vw 27vw;
    }

    .book {
        width: 27vw;
        height: 41vw;
    }

    .appendBook {
        margin-inline: calc(27vw/2 - 20px);
        margin-block: calc(41vw/2 - 20px);
    }
}

@media screen and (min-width: 1300px) {
    #collectionContainer {
        padding-inline: 6vw;
        padding-block: 4vw;
    }
    
    .folder {
        grid-template-columns: 17vw 17vw 17vw;
    }

    .book {
        width: 17vw;
        height: 26vw;
    }

    .appendBook {
        margin-inline: calc(17vw/2 - 20px);
        margin-block: calc(26vw/2 - 20px);
    }
}

.bookCircle {
    background-color: var(--primaryColor);
    color: white;
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

/* Used to disable clicks on buttons that are opacity: 0 */
.addBookButton {
    display: none;
    top: 50%;
    transform: translateY(-20px);
    font-size: 27px;
}

.addBookButton[style="opacity: 0"] {
    pointer-events: none;
}

.before {
    animation-name: before;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} @keyframes before {
    from {left: 0px;}
    to {left: -35px;}
}

.after { /*Add book before button*/
    animation-name: after;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} @keyframes after {
    from {right: 0px;}
    to {right: -35px;}
}

.positionNum {
    top: -15px;
    left: -15px;
}

.editButton {
    display: none;
    animation-name: edit;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} @keyframes edit {
    from {top: 0px; right: 0px;}
    to {top: -15px; right: -15px;}
}

.copyButton {
    display: none;
    animation-name: copy;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} @keyframes copy {
    from {bottom: 0px; left: 0px;}
    to {bottom: -15px; left: -15px;}
}

.flipped .addBookButton, .flipped .editButton, .flipped .copyButton {
    display: flex !important;
}

.flipButton {
    /* display: flex !important; */
    bottom: -15px;
    right: -15px;
}

/*Toggle the cover and details showing when a book is flipped*/
.book .cover {
    width: 100%;
    height: 100%;
} .book .details {
    display: none;
}

.flipped .cover {
    display: none !important;
} .flipped .details {
    overflow: hidden;

    text-align: center;
    width: 100%;
    padding-inline: 5%;
    height: 100%;
    background-color: var(--darkerSecondary);
    display: block !important;
}

.title {
    text-align: center;
    font-size: clamp(22px, 1.5vw, 44px);
    margin-bottom: 0;
}

.subtitle {
    text-align: center;
    font-size: clamp(15px, 1.1vw, 30px);
    margin-block: 0;
}

.notes {
    width: 90%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 5px;
    resize: none;
    color: white;
    margin-block: 5px; /*Temp value change later*/
}

.selectLabel {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

select {
    width: 45%;
    font-size: 80%;
}

.divider {
    padding-inline: 3px;
    font-family: sans-serif;
    display: inline-block;
    font-size: 25px;
}

.bookBottomButtons {
    margin-left: auto;
    margin-right: auto;
    margin-block: 5px; /*Temp value change later*/
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.bookBottomButtons button {
    background-color: white;
    width: 25%;
}


/* MODAL WINDOW */  
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primaryColor);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 9999999991;
    color: white;
}

#signInModal {
    text-align: left;
}

#addBookModal {
    text-align: center;
}

#addBookModal h1 {
    margin-block: clamp(1vh, 1vw, 3vh);
    border-bottom: 1px solid var(--accentColor);
}

#addBookModal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signInModal > *, #addBookModal form > * {
    display: block;
}

.modal h1 {
    font-size: clamp(10px, 3.5vw, 60px);
}

.modal label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal label, .modal input, .modal select {
    font-size: clamp(5px, 2.5vw, 4vh);
    color: var(--textColor);
    background: none;
}

.modal input, .modal select {
    border: 1px solid var(--textColor);
}

.modal p, .modal select {
    margin-bottom: 1vh;
}

.modal select {
    background-color: var(--primaryColor);
}

#title_input {
    width: 60%;
}

#subtitle_input {
    width: 55%;
}

#notes_input {
    resize: none;
    width: 60%;
}

#read_input {
    width: 30%;
}

#rating_input {
    width: 27%;
}

.modal button, .modal input[type=submit] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: clamp(5px, 2vw, 3.5vh);
    color: white;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    margin-top: 3vh;
    display: inline-block;
}

.modal input[type=submit] {
    background-color: var(--secondaryColor);
}

.cancel {
    background-color: var(--accentColor);
}

.smallText {
    color: #889;
    font-size: clamp(9px, 1vw, 2vh);
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 9999999;
}


