/*
Andrew Deal
Secret Shelf Home Page CSS
DUE DATE
*/

body {
    background-image: url("../Images/comicBackground1.jpg");
    background-size: 300% auto; /*Background for mobile version*/
    background-repeat: repeat-y; /* Repeat vertically */
}

#landingBox {
    width: 70%;
    height: 350px;
    text-align: center;
    /* height: clamp(150px, 40vh, 20vw); */
    margin-top: calc((100vh - 350px - var(--navHeight)) / 2);
    margin-inline: auto;
    padding: 1% 4% 1% 4%;
    border-radius: 50px;
    background-color: var(--primaryColor);
}

.info {
    background-color:  var(--primaryColor);
    display: flex;
    align-items: center;
    margin: 150px 0 0 0; /*update later*/
    width: 70vw; /*update later*/
    height: 300px; /*update later*/
    clear: both;
}

.leftBox {
    float: left;
    justify-content: left;
    border-radius: 0 30px 30px 0;
    text-align: left;
}

.rightBox {
    float: right;
    justify-content: right;
    border-radius: 30px 0 0 30px;
    text-align: right;
}

.previewImage {
    width: 20%;
    height: 230px; /*update later*/
    background-color: white; /*Delete later*/
}

/* This media query targets larger screens using the same measure as the hamburger menu query */
@media only screen and (min-width: 1100px) {
    body {
        background-size: 100% auto; /*Set background for pc version*/
    }
}