/*
Andrew Deal
Secret Shelf Home Page CSS
DUE DATE
*/

body {
    background-image: url("../Images/comicBackground1.jpg");
    background-size: 300% auto; /*Background for mobile version*/
    background-repeat: repeat-y; /* Repeat vertically */
}

#landingBox {
    width: 70%;
    height: 350px;
    /* height: clamp(150px, 40vh, 20vw); */
    margin-inline: auto;
    margin-block: clamp(clamp(75px, 15vh, 8vw), calc(((100vh - clamp(75px, 15vh, 8vw)) - 350px) / 2), 100px);
    /* margin-block: 100px; */
    /* margin-block: clamp(75px, 20vh, 10vw); */
    padding: 1% 4% 1% 4%;
    border-radius: 50px;
    background-color: var(--primaryColor);
}

/* This media query targets larger screens using the same measure as the hamburger menu query */
@media only screen and (min-width: 1000px) {
    body {
        background-size: 100% auto; /*Set background for pc version*/
    }
}