#pageTitle {
    text-align: center;
}

#blogColumns {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-content: center;
}

article {
    width: 85vw;
    background-color: white;
    color: black;
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 600px) {
    #blogColumns {
        grid-template-columns: repeat(2, auto); /* Two columns */
    }

    article {
        width: 40vw;
    }

    .title {
        font-size: 3.5vw !important;
    }

    .subData, .preview {
        font-size: 2vw !important;
    }
}

@media only screen and (min-width: 900px) {
    #blogColumns {
        grid-template-columns: repeat(3, auto); /* Three columns */
    }

    article {
        width: 25vw;
    }

    .title {
        font-size: 2vw !important;
    }

    .subData, .preview {
        font-size: 1vw !important;
    }
}

article a {
    text-decoration: none;
    color: black;
}

.thumbnail {
    width: 90%;
    min-height: 200px;
    margin-block: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}

.data {
    padding-inline: 5%;
    padding-top: 5%;
    margin-top: 5%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.title {
    margin-block: 0;
    font-size: 5vw;
}

.subData {
    display: flex;
    justify-content: left;
    gap: 5%;
    font-size: 3vw;
}

.author {
    margin-block: 0;
}

.date {
    margin-block: 0;
}

.preview {
    margin-block: 0;
    font-size: 2vw;
}