#pageTitle {
    text-align: center;
}

#mainContent {
    min-height: 50px;
    width: 90vw;
    margin-inline: 5vw;
    display: flex;
    gap: 4vw;
}

#articleGrid {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2vw;
    justify-content: center;
}

article {
    width: 20vw;
    background-color: var(--darkerSecondary);
    color: var(--textColor);
    padding: 20px; 
    border: 1px solid var(--textColor);
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article a {
    text-decoration: none;
    color: var(--textColor);
}

.thumbnail { /*FIX IT 😜*/
    width: 90%;
    min-height: 200px;
    margin-block: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}

#sidebar {
    width: 20%;
}

#sidebar > div {
    margin-block: 50px;
    border: 1px solid var(--textColor);
    background-color: var(--darkerSecondary);
    border-radius: 8px;
    box-sizing: border-box;
}

#searchBox {
    width: 100%;
    text-align: center;
    padding: 10px;
}

#searchBox p {
    margin: 0;
}

#searchBox [type=search] {
    width: 80%;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

[type=checkbox] {
    display: inline-block;
}

#filterBox p {
    display: inline-block;
}
