/*
Andrew Deal
Secret Shelf All Pages Shared CSS
DUE DATE
*/

:root {
    --primaryColor: #161E2C;
    --secondaryColor: #074670;
    --darkerSecondary: #002d4b;
    --navHeight: clamp(75px, 15vh, 8vw);
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    padding-top: var(--navHeight);
    background-color: var(--primaryColor);
    overflow-x: hidden;    
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

#pageTop {
    width: 100%;
    z-index: 999999; /*stay at top of screen*/
    height: var(--navHeight);
    background-color: var(--secondaryColor);
    padding-inline: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 15px rgb(25, 25, 25);
}

#mainLogo {
    color: white;
    margin-block: 0;
    height: var(--navHeight);
    max-height: 15vw;
}

#pageTop > nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 80vw;
    text-align: right;
}

#pageTop > nav > li {
    display: inline-block;
}

#pageTop > nav > li > a {
    padding-inline: 3vw;
    color: white;
    font-size: clamp(12px, 1.5vw, 28px);
    text-decoration: none;
}

@media screen and (max-width: 1100px) {
    #pageTop nav li a span {
        display: none;
    }
} 
