/*
Andrew Deal
Secret Shelf All Pages Shared CSS
DUE DATE
*/

:root {
    --primaryColor: #161E2C;
    --secondaryColor: #074670;
    --darkerSecondary: #002d4b;
    --accentColor: #A63BFF;
    --textColor: white;
    --linkColor: rgb(0, 196, 192);
    --navHeight: clamp(60px, 10vh, 6vw);
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    padding-top: var(--navHeight);
    background-color: var(--primaryColor);
    overflow-x: hidden;    
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

#pageTop {
    width: 100%;
    z-index: 999999; /*stay at top of screen*/
    height: var(--navHeight);
    background-color: var(--secondaryColor);
    padding-inline: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 15px rgb(25, 25, 25);
}

#mainLogo {
    color: white;
    margin-block: 0;
    height: calc(var(--navHeight) * 0.75);
    max-height: 15vw;
}

#pageTop > nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 80vw;
    text-align: right;
}

#pageTop > nav > li {
    display: inline-block;
    position: relative;
}

#pageTop > nav > li > a {
    padding-inline: 3vw;
    color: white;
    font-size: clamp(12px, 1.5vw, 28px);
    text-decoration: none;
}

#accountMenu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1999999;
    width: 10vw;
    font-size: clamp(12px, 1.5vw, 28px);
}

#accountMenu * {
    display: block;
    margin: 0;
    padding: 0;
}

#accountMenu li {
    border: 1px solid var(--textColor);
}

#accountMenu ul {
    background-color: var(--secondaryColor);
}

#accountLi:hover #accountMenu {
    display: block !important; /* Show the menu when the parent li is hovered */
}
@media screen and (max-width: 1100px) {
    #pageTop nav li a span {
        display: none;
    }
} 

.hidden { 
    display: none !important;
}