/*
Andrew Deal
Secret Shelf Home Page CSS
DUE DATE
*/

#puzzleTitle {
    text-align: center;
    margin-block: 30px;
}

div#centering {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

div#leftSide {
    display: inline-block;
    width: 65%;
}

div#rightSide {
    display: inline-block;
    width: 35%;
}

#gallery-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    display: none;
}

.gallery-image.active {
    display: block;
}

#navigation-buttons {
    text-align: center;
    margin-top: 10px;
}

.navigation-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    cursor: pointer;
}

.active {
    background-color: var(--darkerSecondary);
    color: #fff;
}

#guessInputs {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#seriesInput {
    width: 71%;
}

#numberInput { 
    width: 22%;
}

#guessButton {
    color: white;
    background-color: green;
    width: 100%;
    margin-block: 10px;
}

.guess {
    border: 1px solid white;
}