/*
Andrew Deal
Secret Shelf Home Page CSS
DUE DATE
*/

body {
    scroll-behavior: smooth;
}

h1, .puzzleNumber {
    text-align: center;
    margin-block: 1%;
    color: var(--textColor);
}

div#centering {
    margin-top: 30px;
    width: 80%;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* width: 65%; */
}

div#rightSide {
    width: 100%;
    /* width: 35%; */
}

#mycanvas {
    min-width: 1px;
    min-height: 1px;
    width: 80%;
    /* width: clamp(20vh, 20vw, 40vh); */
}

@media screen and (max-width: 600px) {
    /*Phone specific styling */

}

#roundText {
    margin-block: 5px;
}

#guessInputs {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

/* Autocomplete Styling */
.autocomplete {
    /*the container must be positioned relative:*/
    width: 74%;
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: black;
}
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--secondaryColor) !important;
    color: white !important;
}

#seriesInput {
    width: 100%;
}

#numberInput { 
    width: 22%;
}

#guessButton {
    color: white;
    background-color: green;
    width: 100%;
    margin-block: 10px;
}

h3 {
    border: 1px solid var(--textColor);
    color: var(--textColor);
    margin-block: 1%;
}

.flex {
    display: flex;
    margin-block: 0px;
    justify-content: space-between;
}

.flex > * {
    border: 1px solid var(--textColor);
    border-radius: 5px;
    padding-inline: 2%;
    margin-block: 3px;
}

.series { /*For the guess display*/
    width: 72%;
    color: var(--textColor);
}

.number { /*For the guess display*/
    width: 18%;
    color: var(--textColor);
}

.guess {
    margin-block: 8px;
}

#instagram {
    text-align: center;
}

#instagram a {
    color: var(--linkColor);
    text-decoration: none;
}

#kofi {
    display: flex;
    justify-content: center;
    margin-block: 20px;
}

.btn-container {
    margin-left: auto;
    margin-right: auto;
}

summary {
    width: 60%;
    margin-inline: 20%;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}

#oldLinks {
    width: 100%;
}

.oldLink {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: green;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    display: block;
    width: 100%;
    text-align: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 500px;
    background-color: var(--darkerSecondary);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 9999999991;
    color: var(--textColor);
    text-align: center;
}

.heatmap {
    box-sizing: border-box;
    width: 100%;
    min-height: 20px;
    background: linear-gradient(to right, #E66A17, #F9BC4B, #ECF683, white, #69DFEF, #26F6C9, #6EEBA8);
}

#range {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.cancel {
    margin-block: 10px;
    background-color: var(--accentColor);
    color: var(--textColor);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 9999999;
}