/*
Andrew Deal
Secret Shelf Home Page CSS
DUE DATE
*/

#puzzleTitle {
    text-align: center;
    margin-block: 30px;
}

div#centering {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: 1px dashed pink;
}

div#leftSide {
  display: inline-block;
  width: 65%;
  border: 1px dashed pink;
}

div#rightSide {
  display: inline-block;
  width: 35%;
  border: 1px dashed pink;
}