/*
Andrew Deal
Share Your Shelf Social Page CSS
DUE DATE

*/

.shelf {
    display: flex;
    justify-content: space-around;
    background-color: #b49784;
    border: 10px solid #5c2603;
    border-top: none;
}

.shelf:first-of-type {
    border-top: 10px solid #5c2603;
}

.book {
    height: 200px;
    width: 9%;
    box-shadow: 10px 15px 15px -12px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: rgb(143, 32, 32);
}

.blue {
    background-color: rgb(0, 0, 155);
}

.green {
    background-color: rgb(54, 124, 54);
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: rgb(204, 204, 85);
}

.teal {
    background-color: teal;
}

.vertical {
    writing-mode: vertical-lr; /* lr stands for left-to-right, you can use rl for right-to-left */
    text-orientation: upright;
    white-space: nowrap; /* Ensures that each character is on a separate line */
}

