/*
Andrew Deal
Share Your Shelf Social Page CSS
DUE DATE

*/

/*All social CSS is temporary until the page gets finalized*/
/* #usersContainer {
    width: 50%;
    min-width: 250px;
    margin-inline: auto;
    margin-top: 40px;
}

@media only screen and (max-width: 650px) {
  #usersContainer {
    width: 100%;
  }
} */

body {
    margin-top: 40px;
    display: flex;
}

#leftSection {
    width: 25%;
}

#middleSection {
    width: 50%;
}

#rightSection {
 width: 25%;
}

.sidebar {
    box-sizing: border-box;
    padding: 1%;
}

input[type=search] {
    box-sizing: border-box;
    width: 100%;
    font-size: 30px;
    padding-block: 10px;
    padding-inline: 10px;
    border-radius: 25px;
    margin-bottom: calc(var(--navHeight) / 4)
}

.userBox {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--darkerSecondary);
    font-size: 30px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0;
    margin-bottom: calc(var(--navHeight) / 5);
    padding-block: 10px;
    padding-inline: 10px;
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none; 
    content: "";
}

summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--navHeight) / 2);
}

summary span {
    display: flex;
    align-items: center;
    gap: 20px;
}

.userBox img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

form {
    display: flex;
    align-items: center;
}

.friendRequest {
    font-size: 1.5rem;
    color: var(--textColor);
    background: none;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



/*Copied from article*/
.test-ad {
    width: 100%;
}

#kofi-ad {
    background-color: var(--secondaryColor);
    border-radius: 8px;
    text-align: center;
    margin-block: 1vh;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

#kofi-ad p {
    color: var(--textColor);
    margin-block: 3px;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    text-align: left;
}

#kofi-ad p:first-of-type {
    border-bottom: 1px solid var(--darkerSecondary);
    font-size: 90%;
    color: #AAA;
    font-style: italic;
}

/* Leaderboard styling */
.leaderboard {
    background-color: var(--secondaryColor);
    border-radius: 8px;
    text-align: center;
    margin-block: 1vh;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}
